/* 네비게이션 바 스타일 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 15px 20px;
    position: fixed; /* 스크롤 시 고정 */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 다른 요소들보다 위에 위치 */
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

/* 링크에 마우스를 올렸을 때 */
.navbar-left a:hover {
    color: #c4ffc4; /* 초록색 글씨 */
    border-bottom: 3px solid #c4ffc4; /* 초록색 아래 바 */
    transition: transform 3s ease;
}

/* 숨겨진 검색 폼 스타일 */
#search-form {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: none; /* 처음에는 숨겨진 상태 */
    z-index: 1000;
    width: 420px; /* 박스 크기 조정 */
    max-width: 90%;
    align-items: center;
    gap: 10px; /* 선택창과 검색 입력란 사이 간격 */
}

/* 선택창과 검색 입력란을 한 줄에 나란히 배치 */
#search-form select, #search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #333;
    border-radius: 5px;
    flex: 1; /* 입력란과 선택창이 동일한 높이로 나란히 */
}

#search-form select {
    max-width: 180px; /* 선택창 크기 제한 */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-form input[type="text"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* 닫기 버튼 스타일 */
#search-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

/* 검색 아이콘 스타일 */
.search-icon {
    cursor: pointer;
    width: 42px; 
    height: 42px; 
    margin-right: 15px;    
}

/* 아날로그 시계 스타일 */
.clock {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: black;
    border: 3px solid #333;
    border-radius: 50%;
    margin-right: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background-color: white;
}

.hour {
    width: 4px;
    height: 15px;
    background-color: white;
}

.minute {
    width: 3px;
    height: 20px;
    background-color: white;
}

.second {
    width: 2px;
    height: 25px;
    background-color: red;
}

/* 홈 아이콘 스타일 */
.home-icon {
    cursor: pointer;
    width: 42px; 
    height: 42px; 
    margin-right: 15px; /* 검색 아이콘과의 간격 */
}
